<%def name="render_string(k, v, required_type=False, comma=True)">
% if v is None and not required_type:

% elif v is None and required_type:
"${k}": null${',' if comma else ''}
% elif isinstance(v, (str,)):
"${k}": "${v}"${',' if comma else ''}
% else:
"${k}": ${v}${',' if comma else ''}
% endif
</%def>
[
<%
    static_storage_info = attributes['static_storage_info']
    is_public = static_storage_info['site_is_public']
    endpoints = attributes['endpoints']['endpoints']
    oidc_auth_enabled = static_storage_info['storage_oidc_auth_enabled']
%>\
    {
        "type": "provider",
        "data": {
            ${render_string('country', static_storage_info['site_country'])}
            ${render_string('country_code', static_storage_info['site_country_code'])}
            ${render_string('roc', static_storage_info['site_roc'])}
            ${render_string('subgrid', static_storage_info['site_subgrid'])}
            "is_public": ${'true' if is_public else 'false'},
            ${render_string('giis_url', static_storage_info['site_giis_url'])}
            ${render_string('name', static_storage_info['site_name'], required_type=True, comma=False)}
        }
    },
% for srv_id, srv_data in endpoints.items():
    {
    	"data":{
            "service_type": "${srv_data['goc_service_type']}",
            "endpoint": "${srv_data['onedata_id']}",
            "provider_id": "${srv_data['site_name']}",
            "sitename": "${srv_data['site_name']}",
            "hostname": "${srv_id}",
            "oidc_auth_enabled": ${'true' if oidc_auth_enabled else 'false'},
            "iam_enabled": ${'true' if srv_data.get('storage_iam_enabled', None) else 'false'},
            "type":"storage"
		},
        "type": "service"
	}${'' if loop.last else ','}
% endfor
]
