hacking<0.11,>=0.10.0
bandit>=1.1.0,<=1.6.2
coverage>=3.6
defusedxml
discover
fixtures>=0.3.14
python-subunit>=0.0.18
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.34
mock
requests
pyOpenSSL
python-keystoneclient
python-novaclient
python-glanceclient
keystoneauth1
defusedxml
pyrsistent<=0.16.0
