Source: python-cloud-info-provider-openstack
Section: net
Priority: extra
Maintainer: EGI Federated Cloud <fedcloud-devel@mailman.egi.eu>
Homepage: http://github.com/EGI-Foundation/cloud-info-provider
Build-Depends:
 debhelper (>= 7.0.50),
 cloud-information-provider (>= 0.9.1)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/EGI-Foundation/cloud-info-provider.git

Package: python-cloud-info-provider-openstack
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-noaclient,
 python-glanceclient,
 python-keystoneauth1,
# XXX Really?
 python-defusedxml
Suggests: python-novaclient, python-defusedxml, python-glanceclient, python-keystoneauth1
Provides: ${python:Provides}
Description: Cloud information provider for BDII.
 Information provider for Cloud Compute and Cloud Storage services.
 .
 It supports static information specification, OpenNebula and OpenStack cloud
 middleware.
 By default the provider uses GLUE 2.0 EGI Cloud Profile to publish the
 information, but custom format can be created.

