Source: python-cloud-info-provider
Section: net
Priority: extra
Maintainer: Enol Fernandez <enol.fernandez@egi.eu>
Build-Depends:
 debhelper (>= 7.0.50),
 python-all (>= 2.6),
 python-all-dev (>= 2.6)
Build-Depends-Indep:
 python-pbr (>= 0.6),
 python-setuptools
Standards-Version: 3.9.5
Homepage: http://github.com/EGI-FCTF/BDIIscripts
Vcs-Git: https://github.com/EGI-FCTF/BDIIscripts.git

Package: python-cloud-info-provider
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-yaml
Recommends: bdii
Suggests: python-novaclient
Provides: ${python:Provides}
Description: Cloud information provider for BDII.
 Information provider for Cloud Compute and Cloud Storage services for BDII.
 .
 It supports static information specification, OpenNebula and OpenStack cloud
 middlewares.
 The provider uses GLUE 2.0 EGI Cloud Profile to publish the information.

