Source: python-cloud-info-provider-deep-openstack
Section: net
Priority: extra
Maintainer: Pablo Orviz <orviz@ifca.unican.es>
Homepage: http://github.com/indigo-dc/cloud-info-provider-deep
Build-Depends:
 debhelper (>= 7.0.50)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/indigo-dc/cloud-info-provider-deep.git

Package: python-cloud-info-provider-deep-openstack
Architecture: all
Section: python
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-cloud-info-provider-deep (>= 0.9.1),
 python-novaclient,
 python-glanceclient,
 python-keystoneauth1
Provides: ${python:Provides}
Description: Cloud information provider meta-package for OpenStack.
 .
 OpenStack-specific meta-package for Information provider for Cloud Compute and
 Cloud Storage services.
 Install the cloud-information-provider-deep and the Cloud Middleware dependencies.
