name: Build packages

on:
  pull_request:

jobs:
  sdist:
    name: build python sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
    - name: Build sdist
      run: |
        pip install tox
        python setup.py sdist
        ls -lR
    - name: Upload output file
      uses: actions/upload-artifact@v2
      with:
        name: sdist
        path: dist/*tar.gz

  centos7:
    name: build centos 7 rpms
    needs: sdist
    runs-on: ubuntu-latest
    container: centos:7
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: sdist
    - name: install build requisites
      run: |
        yum install -y rpm-build rpmlint
        yum install -y centos-release-openstack-queens
        yum install -y python-pbr python-setuptools
    - name: build rpm
      run: |
        mkdir -p {BUILD,RPMS,SOURCES,SPECS,SRPMS}
        VERSION="$(ls cloud_info_provider-* | sed s/cloud_info_provider-// | sed s/.tar.gz//)"
        tar -xzf cloud_info_provider-$VERSION.tar.gz --strip-components 1 cloud_info_provider-$VERSION/rpm
        ls -ltrR
        sed -i "s/^\(Version.\).*/\\1 $VERSION/" rpm/cloud-info-provider.spec
        cp -v cloud_info_provider*tar.gz SOURCES
        rpmbuild --define "_topdir $PWD" -ba rpm/cloud-info-provider.spec
        rpmbuild --define "_topdir $PWD" -ba rpm/cloud-info-provider-openstack.spec
        rpmbuild --define "_topdir $PWD" -ba rpm/cloud-info-provider-opennebula.spec
    - name: Upload rpms
      uses: actions/upload-artifact@v2
      with:
        name: rpms
        path: RPMS/noarch/*.rpm

  ubuntu:
    name: build debs
    needs: sdist
    runs-on: ubuntu-latest
    container: ubuntu:xenial
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: sdist
    - name: install build requistes
      run: |
        apt-get update -q
        apt-get install -q -y devscripts debhelper git
        apt-get install -q -y python-all-dev python-pbr python-setuptools
    - name: build packages
      run: |
        VERSION=$(ls cloud_info_provider-* | sed s/cloud_info_provider-// | sed s/.tar.gz//)
        tar -xzf cloud_info_provider-$VERSION.tar.gz
        cd cloud_info_provider-$VERSION
        debuild --no-tgz-check clean binary
        cd debs/cloud-info-provider-openstack
        debuild --no-tgz-check clean binary
        cd ../../debs/cloud-info-provider-opennebula
        debuild --no-tgz-check clean binary
    - name: Upload debs
      uses: actions/upload-artifact@v2
      with:
        name: debs
        path: "**/*.deb"

  centos7-install-openstack:
    name: install centos 7 rpms (openstack)
    needs: centos7
    runs-on: ubuntu-latest
    container: centos:7
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: rpms
    - name: install generated rpms
      run: |
       yum install -y centos-release-openstack-queens
       yum localinstall -y cloud-info-provider-openstack-*.rpm cloud-info-provider-[^o]*.rpm

  centos7-install-opennebula:
    name: install centos 7 rpms (opennebula)
    needs: centos7
    runs-on: ubuntu-latest
    container: centos:7
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: rpms
    - name: install generated rpms
      run: |
        yum install -y epel-release
        yum localinstall -y cloud-info-provider-opennebula-*.rpm cloud-info-provider-[^o]*.rpm

  ubuntu-install-openstack:
    name: install debs (openstack)
    needs: ubuntu
    runs-on: ubuntu-latest
    container: ubuntu:xenial
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: debs
    - name: install generated debs
      run: |
        apt-get update
        apt-get install -y ./python-cloud-info-provider_*.deb ./cloud_info_provider-*/debs/python-cloud-info-provider-openstack_*.deb

  ubuntu-install-opennebula:
    name: install debs (opennebula)
    needs: ubuntu
    runs-on: ubuntu-latest
    container: ubuntu:xenial
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: debs
    - name: install generated debs
      run: |
        apt-get update
        apt-get install -y ./python-cloud-info-provider_*.deb ./cloud_info_provider-*/debs/python-cloud-info-provider-opennebula_*.deb
