---
name: Python testing

on: pull_request

permissions: read-all

jobs:
  test:
    name: test python code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: |
          uv run pytest
          uv run bandit -r cloud_info_provider -x tests -s B110,B702
          uv run py.test --cov=cloud_info_provider --cov-report=xml --cov-report=term-missing cloud_info_provider/tests
